$primary-color: #0d6efd;
$bg-color: #000;
$text-color: #fff;

body {
  background-color: $bg-color;
  color: $text-color;
}

.hero img {
  width: 100%;
  height: calc(100vh - 4rem);
  object-fit: cover;
}

.product-card {
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

header {
  .offcanvas {
    background-color: darken($bg-color, 10%);
  }
}
